<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('../../blocks/head/head'); %>
        <%- include('../../blocks/style-load/style-load', {pageName: 'index'}); %>
    </head>
    <body>
        <%- include('../../blocks/menu/menu', {state: 'index'}); %>
        <div class="wrapper">
            <article class="content">
                <h4>Обо мне</h4>
                <p>
                    Я, Максим Грязнов, разработчик интерфейсов, служитель интернета и&nbsp;здравого смысла.
                    Адепт <a href="http://www.tema.ru/main.html">Лебедева</a>,
                    <a href="https://ru.wikipedia.org/wiki/Карлин,_Джордж">Карлина</a>,
                    <a href="https://vk.com/pepelsbey">Макеева</a>,
                    <a href="https://ru.wikipedia.org/wiki/Джобс,_Стив">Джобса</a>.
                    Любитель астрофизики, хорошей типографики, графического дизайна,
                    функционального програмирования, городской архитектуры.
                </p>
                <p>
                    Живу тем, что пишу &laquo;всякие коды&raquo; на&nbsp;джаваскрипт, верстаю на&nbsp;хтмл и
                    превращаю все это в&nbsp;продукт с&nbsp;помощью цсс.
                    Результат моей работы&nbsp;&mdash; охуенный (быстрый, адаптивный, прогрессивный) сайт.
                </p>
                <p>
                    Пытаюсь фотографировать и писать. Зимой катаюсь на лыжах и падаю на борде.
                </p>
                <p>Цинник, сексист, гик, меломан.</p>

                <h4>Рабочие инструменты</h4>
                <ul>
                    <li>node.js</li>
                    <li>npm</li>
                    <li>git</li>
                    <li>macbook</li>
                    <li>webstorm</li>
                    <li>iterm2</li>
                </ul>

                <h4>Используемая литература</h4>
                <ul>
                    <li><a href="http://store.artlebedev.ru/books/design-theory/kovodstvo4/">Ководство</a></li>
                    <li>Совершенный код</li>
                    <li><a href="https://github.com/karmazzin/eloquentjavascript_ru">Выразительный JavaScript</a></li>
                    <li>JavaScript. Шаблоны</li>
                    <li><a href="https://git-scm.com/book/en/v2">Pro Git</a></li>
                </ul>
            </article>
            <%- include('../../blocks/footer/footer'); %>
        </div>

        <%- include('../../blocks/insertion/insertion'); %>
    </body>
</html>
