<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('../../blocks/head/head'); %>
        <%- include('../../blocks/style-load/style-load', {pageName: 'think'}); %>
    </head>
    <body>
        <%- include('../../blocks/menu/menu', {state: 'think'}); %>
        <div class="wrapper">
            <article class="content">
                <h1>Вспоминаю...</h1>
            </article>
            <%- include('../../blocks/footer/footer'); %>
        </div>
        <%- include('../../blocks/insertion/insertion'); %>
    </body>
</html>
