<!DOCTYPE html>
<html lang="ru">

<head>
    <title>М.Г. - Мыслы</title>
    <%- include('../../blocks/head/head'); %>
        <%- include('../../blocks/style-load/style-load', {pageName: 'think'}); %>
</head>

<body>
    <%- include('../../blocks/menu/menu', {state: 'think'}); %>
        <div class="limiter">
            <article>
                <a href="/think/!important-for-professionals.html">
                    <h2>Белый !important на черном фоне</h2>
                </a>
                <time class="subtitle-time" datetime="2016-11-13">13 ноября 2016</time>
                <div class="important-hd vw-100">
                    <div class="limiter">
                        !important
                    </div>
                </div>
                <p>для профессионалов.</p>
            </article>
            <%- include('../../blocks/footer/footer'); %>
        </div>
        <%- include('../../blocks/insertion/insertion'); %>
</body>

</html>
